/*  your css code here. If applicable */
*{
	margin:0px;
	padding:0px;
}
body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            /* background-color: #f2f2f2; */
            font-family: Arial, sans-serif;
        }
.card{
	
	padding:20px;
	width:400px;
	background-color: #f2f2f2;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    text-align: center;
    border-radius: 6px;
	
}
/* .card img{
     width:80%;
	border-radius:4px;
	margin-top:20px;
} */
.card img{
    width:70%;
    height:auto;
    border-radius:4px;
    margin:20px auto;
    display:block;
	 max-height: 220px;  
    object-fit: cover;
}

.card h1{
	margin:10px 0px;
	font-size:40px;
}
.price{
  font-size:25px;
	font-weight:bold;
	margin:10px 0;
	

}
.description{
	font-size:30px;
	margin:10px 0 20px;
}
.card button{
	 /* margin-top:1px; */
	margin-bottom:20px;
    padding:10px 25px;
    background-color:red;
    border-radius:20px;
    color:white;
	font-weight:bold;
    font-size:20px;
    border:none;
}


